/*Importing with the fonts */
@import url("//s3.amazonaws.com/citrix-cdn/can.cdn/marketing/assets/fonts/citrix-fonts.css?v=dta-home-page-redesign-4");

/* normal style definitions for fonts */
html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video ,input[type="text"]{
    font-family: 'citrixsans-regular';
}
/*Header Manipulation goes here*/
.md-header{
	background: #fff;
	border-top:5px solid #000;
	//padding-bottom: 70px;
	height: 6.6rem
}
/*input text manipulation goes here*/
.md-search__input{
	border-radius: .2rem;
    background-color: rgba(0,0,0,.90);
    color: #fff;
    border-radius: 4px !important;
}

label.md-icon.md-search__icon{
	color: #fff !important;
}
.md-search__input:hover{
	-webkit-transition-delay: 10000000s; /* Safari */
    transition-delay: 10000000s;
    border-radius: 3px;
}
/*Navigation to the next topic is kept hidden*/
.md-footer-nav{
display: none
}
/*Color Manupulation goes here*/
a{
	color: #1671a6 !important;
}

a:hover{
	color: #156889 !important
}
.citrix-logo{
	width: 100px !important;margin-top: 10px;

}
/*Secondary Sidebar Manipulation*/
.md-nav--secondary
{
border-left: .1rem solid #E0E0E2;
}

.md-icon--search:before, .md-icon--menu:before{
	color: #000 !important;
}

@media screen and (max-width: 1220px) {
    .citrix-logo {
        display: none
    }
}
@media only screen and (max-width: 76.1875em){
html .md-nav--primary .md-nav__title--site {
    position: relative;
    background-color: #000;
    color: #fff;
    padding: 2rem 1rem 0.4rem;
}
.doc-title-sidebar{
	    position: relative;
    font-size: 15px;
    top: -15px;
}

@media only screen and (max-width: 76.1875em)
{
.md-sidebar--primary {
	    width: 24.2rem;
}
.citrix-logo-white{
    display: inline-block !important;
}
}
